# Don't add the following files
# to the repository, since they can be built by CMake

build/
*.out

# Don't add the following files
# to the repository, since they can be produced
examples/_data/output/

